@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.header {
  display: flex; /* correct */
  justify-content: space-between; /* correct */
  padding: 16px; /* correct */
}

.content {
  display: flex; /* correct */
  justify-content: center; /* correct */
  align-items: center; /* correct */
  flex-direction: column; /* correct */
  gap: 16px; /* correct */
  flex: 1; /* correct */
}

.footer {
  display: flex; /* correct */
  background-color: #eeeeee; /* correct */
  justify-content: space-between; /* correct */
  padding: 16px; /* correct */

}

a {
  text-decoration: none; /* correct */
  color: #666; /* Add color */
}

ul {
  list-style-type: none; /* correct */
  display: flex; /* correct */
  gap: 16px; /* correct */
  padding: 0px; /* correct */
  margin: 0px; /* correct */
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex; /* correct */
  flex-direction: column; /* correct */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px; /* correct + add 16px */
} 

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
